<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Neues Quiz</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/fbCheckLogin.js"></script> 
        <script type="text/javascript" src="../js/createNewQuiz.js"></script>
        <link rel="stylesheet" href="../styles/style.css">              

		<script type="text/javascript">
			function delayer(){
				window.setTimeout('window.location = "dashboard.html"',1000);
			}
		</script>        
        
    </head>

    <!-- Nav-Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" onclick="delayer()">ZUM DASHBOARD</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a onclick="nextQuestion()">FRAGE HINZUFÜGEN</a></li>
            <li><a onclick="createQuiz()">QUIZ SPEICHERN</a></li>
            <li><a href="#contact">INFORMATIONEN</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <body>
        <div class="jumbotron text-center">
            <div class="row">
                <h1 id="shadow">QuizServer</h1> 
                <p>- Erstellen -</p>  

                <form id="myForm2" action="javascript:postHttpRequest();" method="POST" class="form-inline">
                	<input type="text" class="form-control" size="50" placeholder="Quizname" name="quizname" id="qn" autofocus/> <br><br>
                </form>

            	<form id="myForm" action="javascript:postHttpRequest();" method="POST" class="form-inline">
            		<div id="q1">
                		<input type="text" class="form-control" size="50" placeholder="Frage" name="question_1" id="q" />
                		<input type="checkbox" name="hidden_checkbox" style="visibility:hidden;"/> <br>
                        <input type="text" class="form-control" size="50" placeholder="Antwort 1 hier eintragen" name="answer_1_1"/> 
                		<input type="checkbox" name="chk1_1" /> <br>                            
                        <input type="text" class="form-control" size="50" placeholder="Antwort 2 hier eintragen" name="answer_1_2"/>
                        <input type="checkbox" name="chk1_2" /> <br>                           
                        <input type="text" class="form-control" size="50" placeholder="Antwort 3 hier eintragen" name="answer_1_3"/>
                        <input type="checkbox" name="chk1_3" /> <br>
                        <input type="text" class="form-control" size="50" placeholder="Antwort 4 hier eintragen" name="answer_1_4"/>
                        <input type="checkbox" name="chk1_4" /> <br>
                        <p></p>                          
                    </div>
                </form>   
            </div>
        </div> 
    </body>
</html>