<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QuizServer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/fbCheckLogin.js"></script>
        <script type="text/javascript" src="../js/dashboard.js"></script>        
        
        <style>
            .jumbotron { 
                background-color: #f4511e; /* Orange */
                color: #ffffff;
                padding: 100px 25px;  
                height: 100vh;     
            }

            input.form-control:read-only { 
                background-color: white;
            }

            .RbtnMargin { margin-left: 3px; }

        </style>

    </head>

    <body>

        <div class="jumbotron text-center">
            <div class="row">
                    <h1>QuizServer</h1> 
                    <p>- Verteilte Systeme -</p>

                    <form class="form-inline">
                            <!-- Über diese drei Elemente müssen wir mit einer Schleife rüber-->
                        <div class="input-group">
                            <input readonly type="text" class="form-control" size="50" placeholder="Quiz Name">
                            <button type="button" class="btn btn-danger pull-right RbtnMargin">Starten</button>
                            <button type="button" class="btn btn-danger pull-right ">Bearbeiten</button>
                        <p></p>
                            <!-- Quiz Pin -->                    
                            <input type="tel" maxlength="6" class="form-control" size="50" placeholder="Quiz Pin">
                            <button type="button" class="btn btn-danger pull-right RbtnMargin">Teilnehmen</button>                          
                        </div>
                        <p></p>
                        <div id="timestamp" style="font-family:arial;font-size:10pt;">                            
                        </div>
                        <div id="quiz">                        
                            bla
                        </div>
                    </form>    
            </div>
        </div>
        <script type="text/javascript">
            window.setInterval(function() {
                getHttpRequest('../ClientServlet');
                $('timestamp').innerHTML = new Date().toString();
            }, 5000);
        </script>  
    </body>
</html>

<!--
<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Willkommen auf unserem Quizserver!</h1>
        <button onclick="window.location='createNewQuiz.html'">Create a new quiz</button>
        <button onclick="window.location='createNewQuiz.html'">Create a new quiz</button>
    </body>
</html>
-->